body {
    padding: 0%;
    margin: 0%;
}

.messageContainer {
    width: 100vw;
    background-color: gray;
    height: 80vh;
}

.formContainer {
    width: 100vw;
    background-color: rgb(195, 195, 195);
    height: 20vh;
}