* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #5050cb;
    display: grid;
    place-items: center;

    .container {
        width: 80%;
        margin: 0 auto;

        .app {
            width: 100%;
            margin: 6em 25em;
            // padding: 1em 0;
            border: 2px solid #6666f8;
            background-color: #2c3248;
            border-radius: 1em;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            // gap: 5em;

            header {
                width: 8%;
                margin-left: 1em;
                padding-right: 1em;
                border-right: 2px solid #6666f8;
                nav {
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 0;
                        gap: 1em;
                        li {
                            cursor: pointer;
                            list-style: none;
                            transition: all .4s ease-in-out;
                            img {
                                width: 1em;
                                align-items: center;
                                width: 100%;
                                border: 2px solid #6666f8;
                                border-radius: 50%;
                                transition: all .4s ease-in-out;
                            }
                            img:hover {
                                border: 2px solid #fff;
                            }          
                        }
                        #homeButton {
                            padding: .5em;
                            border: 2px solid #6666f8;
                            border-radius: 1em;
                            display: flex;
                        }
                        #homeButton:hover {
                            border: 2px solid #fff;
                            img {
                                background-color: #fff;
                            }
                        }
                        #addNewGroup {
                            img {
                                padding: 1.5em;
                            }
                        }
                        #addNewGroup:hover {
                            img {
                                border: 2px solid #6666f8;
                                background-color: #fff;
                            }
                        }
                    }
                }
            }

            .friends-list {
                display: flex;
                flex-direction: column;
                padding: 1em;
                color: #fff;
                border-right: 2px solid #6666f8;
                max-width: 25%;
                justify-content: space-between;
                &__title {
                    border-bottom: 1px solid #6666f8;
                    display: flex;
                    gap: 1em;
                    img {
                        width: 2em;
                    }
                }
                &__friends {
                    
                }
                &__user {
                    display: flex;
                    gap: 1em;
                    border-top: 1px solid #6666f8;
                    img {
                        width: 2.5em;
                    }
                }
            }
        }
    }
}