* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #5050cb;
    display: grid;
    place-items: center;

    .hero {
        .container {
            width: 80%;
            margin: 0 auto;

            .app {
                width: 100%;
                margin: 6em 25em;
                padding: 2em 0;
                border: 2px solid #6666f8;
                background-color: #2c3248;
                border-radius: 1em;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;

                img {
                    cursor: pointer;
                    width: 20%;
                    border: 2px solid #6666f8;
                    border-radius: 50%;
                    transition: all 0.35s ease-in-out;
                    background-color: #2c3248;
                }

                img:hover {
                    background-color: #fff;
                }

                .login-form {
                    border-radius: 1em;
                    width: 80%;
                    max-width: 60%;
                    text-align: center;
                    padding: 2em;
                    background-color: #2c3248;
                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;

                        h1 {
                            color: #fff;
                            margin: 0;
                            text-transform: uppercase;
                        }

                        .row {
                            display: flex;
                            gap: 1em;
                        }

                        .custome-label {
                            background-color: #474867;
                            border: 2px solid #474867;
                            border-radius: 1em;
                            padding: .75em;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: .5em;
                            color: #fff;
                            transition: border .25s ease-in-out;

                            label {
                                width: 100%;
                                text-align: left;
                            }

                            input {
                                width: 100%;
                                background-color: inherit;
                                border: none;
                                border-bottom: 1px solid #fbfbfb;
                                color: #fff;
                            }

                            input:focus {
                                outline: none;
                            }
                        }

                        .custome-label:focus-within {
                            border: 2px solid #6666f8;
                        }

                        button {
                            cursor: pointer;
                            background-color: #474867;
                            border: 2px solid #474867;
                            color: #fff;
                            width: 50%;
                            margin: 0 auto;
                            padding: 1em;
                            border-radius: 1em;
                            font-size: 1rem;
                            transition: all 0.35s ease-in-out;
                        }

                        button:hover {
                            background-color: #5a5b74;
                            border: 2px solid #6666f8;
                            width: 55%;
                        }

                        p {
                            color: #fff;
                        }
                        a {
                            cursor: pointer;
                            text-decoration: underline;
                            color: #6666f8;
                            transition: all 0.35s ease-in-out;
                        }
                        a:hover {
                            color: #5050cb;
                        }
                    }
                }
            }
        }
    }
}