<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord - Login</title>
    <link rel="stylesheet" href="../style/dist/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="hero">
        <div class="container">
            <div class="app">
                <img id="logo" src="../assets/discord-logo.png" alt="logo">
                <div class="login-form">
                    <form>
                        <h1>Login</h1>
                        <div class="custome-label">
                            <label for="loginEmail">Email:</label>
                            <input type="email" id="loginEmail">
                        </div>
                        <div class="custome-label">
                            <label for="loginPassword">Password:</label>
                            <input type="password" id="loginPassword">
                        </div>
                        <button>Login</button>
                        <p>Not a member yet? <a onclick="handleRegisterPage()">register now!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/dist/login.js"></script>
</body>

</html>